body {
  margin: 0.5rem 1.5rem;
  font-family: "Poppins", sans-serif;
}
body * {
  box-sizing: border-box;
}
body .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.input {
  all: unset;
}
.input.input-field {
  font-size: inherit;
  background-color: white;
  color: #121212;
  padding: 5px;
  border-bottom: 1px solid #121212;
  font-size: 1.1rem;
}
.input.input-field:focus {
  outline: none;
}
.input.input-field::-moz-placeholder {
  color: transparent;
}
.input.input-field::placeholder {
  color: transparent;
}
.input.input-field[type=password] {
  letter-spacing: 0.3rem;
}
.input.input-field[type=password]::-moz-placeholder {
  letter-spacing: normal;
}
.input.input-field[type=password]::placeholder {
  letter-spacing: normal;
}
.input.button {
  width: 50%;
  padding: 8px 5px;
  border: 1px solid #121212;
  background-color: #121212;
  color: white;
  text-align: center;
  font-weight: bold;
}
.input.button.google {
  background-color: #4285F4;
  border-color: #4285F4;
}
.input.button:hover {
  background-color: white;
  border-color: #121212;
  color: #121212;
  cursor: pointer;
}
.input.button:active {
  translate: 1px 1px;
}

.navigation {
  display: flex;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1rem;
}
.navigation .navigation-container {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.navigation .navigation-container a, .navigation .navigation-container span {
  cursor: pointer;
  padding: 20px 10px;
}

.categories-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}
.categories-container .category-container {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  overflow: hidden;
}
.categories-container .category-container:hover {
  cursor: pointer;
}
.categories-container .category-container:hover .background-image {
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.categories-container .category-container:hover .category-body-container {
  opacity: 0.9;
}
.categories-container .category-container .category-body-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  padding-inline: 30px;
  height: 90px;
  gap: 1rem;
  position: absolute;
  background-color: white;
}
.categories-container .category-container .category-body-container h2 {
  margin: 0;
}
.categories-container .category-container .category-body-container p {
  text-decoration: none;
  color: inherit;
  margin: 0;
}
.categories-container .category-container .background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

body .auth-container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}
body .auth-container .signup-form-container,
body .auth-container .signin-form-container {
  width: 420px;
}
body .auth-container .signup-form-container .heading-wrapper h2, body .auth-container .signup-form-container .heading-wrapper p,
body .auth-container .signin-form-container .heading-wrapper h2,
body .auth-container .signin-form-container .heading-wrapper p {
  margin: 0.5rem;
}
body .auth-container form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}
body .auth-container form .input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: 1.1rem;
}
body .auth-container form .input-wrapper .form-input-label {
  color: #A9A9AC;
  font-size: 1.1rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 200ms ease all;
}
body .auth-container form .input-wrapper .form-input-label.shrink {
  top: -14px;
  font-size: 12px;
  color: #121212;
}
body .auth-container form .button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.products-container .product-card-container {
  position: relative;
}
.products-container .product-card-container:hover img {
  opacity: 0.7;
}
.products-container .product-card-container:hover .button {
  visibility: visible;
}
.products-container .product-card-container img {
  width: 100%;
  height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products-container .product-card-container .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.products-container .product-card-container .footer p {
  margin: 0;
  letter-spacing: -1px;
}
.products-container .product-card-container .product-buy-button {
  position: absolute;
  bottom: 25%;
  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
  visibility: hidden;
}

.cart-wrapper {
  display: relative;
}
.cart-wrapper .cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart-wrapper .cart-icon-container .shopping-icon {
  width: 24px;
  height: 24px;
}
.cart-wrapper .cart-icon-container .item-count {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  bottom: 2px;
}
.cart-wrapper .cart-icon-container:active {
  translate: 1px 1px;
}
.cart-wrapper .dropdown-container {
  position: absolute;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  z-index: 1;
  width: 260px;
  max-width: 300px;
  top: 65px;
  right: 24px;
  border: 3px solid #121212;
  background-color: white;
  padding: 10px 15px;
}
.cart-wrapper .dropdown-container .dropdown-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart-wrapper .dropdown-container .dropdown-footer .dropdown-total-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.cart-wrapper .dropdown-container .dropdown-footer .dropdown-total-wrapper p {
  font-weight: bold;
}
.cart-wrapper .dropdown-container .dropdown-footer .button {
  text-transform: uppercase;
  width: 150px;
}
.cart-wrapper .dropdown-container .cart-products {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow: scroll;
  max-height: 300px;
}
.cart-wrapper .dropdown-container .cart-products .cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-wrapper .dropdown-container .cart-products .cart-item img {
  width: 70px;
  height: 80px;
}
.cart-wrapper .dropdown-container .cart-products .cart-item .cart-details-container {
  min-width: 120px;
}
.cart-wrapper .dropdown-container .cart-products .cart-item .cart-details-container p {
  margin: 0;
}
.cart-wrapper .dropdown-container .cart-products .cart-item .cart-details-container .cart-price-wrapper {
  display: flex;
  justify-content: start;
  gap: 5px;
}/*# sourceMappingURL=style.css.map */